/* The @import rule below imports the Playfair Display and Source Sans Pro fonts into the stylesheet*/
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro:wght@400&display=swap");

body {
  background-color: #eae2b7;
  color: #003049;
  font-family: "Source Sans Pro", Tahoma, Geneva, Verdana, sans-serif;
  padding: 40px;
}

/* Headings */
h1,
h2,
h3 {
  font-family: "Playfair Display", Times, serif;
  text-align: center;
}

/* Header */
header {
  text-align: center;
  display: flex;
  justify-content: center;
}

/* Containers */
div {
  background-color: #eae2b7;
  margin: auto;
  width: 600px;
}

article {
  padding: 50px 0;
}

article div {
  text-align: center;
  width: 100%;
}

/* Paragraphs */
p {
  line-height: 1.5;
}

/* Links */
a:link {
  color: #d62828;
}

a:hover {
  color: #f77f00;
}

nav a {
  padding-left: 20px;
}

/* Images */
img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.image-circle {
  border: 2px solid #003049;
  border-radius: 50%;
}

/* Footer */
footer {
  text-align: center;
}

/* Other page elements */
hr {
  border: 1px solid black;
}

/*Removing the default disc style type to none for the nav and also adding flex 
for the nav to go into row and padding to get the most acurate spacing in Thinful 
pic */
.inside-nav {
  list-style-type: none;
  display: flex;
  padding: 15px 30px;
}

/*trying to get the img and h3 into flex*/
.middle {
  display: flex;
}
/* need to have the text in my middle classed div to be left aligned like pic on Thinkful*/
.middle-text {
  text-align: left;
}

/*making the images in the middle of the web to be next to each other*/
.img-section {
  display: flex;
  gap:5px;
  align-items: end;
}

/*adding new font size to the p tag in the portfolio section*/
.port{
  font-size: 14px;
}
